/* responsividade 2561px */
@media (max-width: 2561px) {
    
html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    box-sizing: border-box;
    display: flex;
    background: #9d889587;
}


.toda-pag{
    margin: 0px;
    padding: 2em;
    padding-bottom: 15em;
    width: -webkit-fill-available;
}

.container-titulo{
    width: -webkit-fill-available;
}

.titulo{
    font-size: 10.5em;
    text-align: center;
    padding-top: 0.4em;
    margin: 0em;
    padding-bottom: 0.7em;
}

.container-conteudo{
    width: -webkit-fill-available;
}

.container-subtitulo{
    width: -webkit-fill-available;
}

.sub-titulo{
    font-size: 6.5em;
    color: #0f0a9dde;
    text-align: center;
    margin: 0em;
}

.descricao{
    padding: 1em;
    font-size: 3.5em;
    width: -webkit-fill-available;
}

ol{
    padding-left: 1.3em;
}

.lista-atributos-globais{
    font-size: 1em;
}

.container-imagem{
    width: -webkit-fill-available;
}

.imagem-sintaxe-atributo{
    width: -webkit-fill-available;
}



.detalhe{
    color: red;
}



/* Links para página inicial */
.container-link{
    text-align: center;
}
.link-retorno{
    font-family: math;
    font-size: 5.5em;
}

}

