/* responsividade 2561px */
@media (max-width: 2561px) {
    
html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    box-sizing: border-box;
    display: flex;
    background: #9fcafc42;
}


.toda-pag{
    margin: 0px;
    padding: 0em;
    padding-bottom: 5em;
    width: -webkit-fill-available;
}

.container-titulo{
    width: -webkit-fill-available;
}

.titulo{
    font-size: 12.5em;
    text-align: center;
    padding-top: 0.1em;
    margin: 0em;
    padding-bottom: 0.5em;
}

.container-conteudo{
    width: -webkit-fill-available;
}

.container-subtitulo{
    width: -webkit-fill-available;
}

.sub-titulo{
    font-size: 6.5em;
    color: #0f0a9dde;
    text-align: center;
    margin: 0em;
}

.descricao{
    padding: 1.3em;
    font-size: 2.5em;
    width: -webkit-fill-available;
}

.container-imagem{
    width: -webkit-fill-available;
}

.imagem {
    width: -webkit-fill-available;
}



.detalhe{
    color: red;
}


/* Links para página inicial */
.container-link{
    text-align: center;
}
.link-retorno{
    font-family: math;
    font-size: 6.5em;
}

}

@media (max-width: 1441px){

    .toda-pag{
        padding-bottom: 2em;
    }

    .titulo{
        font-size: 6.5em;
    }

    .sub-titulo{
        font-size: 4em;
    }

    .descricao{
        padding: 1.1em;
        font-size: 1.5em;
    }

    .container-imagem {
        width: 50%;
    }

    .link-retorno{
        font-size: 3.5em;
    }
}

@media (max-width: 1025px){
    
    .toda-pag {
        padding-bottom: 0em;
    }

    .titulo{
        font-size: 4em;
    }

    .sub-titulo{
        font-size: 2.5em;
    }

    .descricao{
        padding: 0.7em;
        font-size: 1em;
    }

    .container-imagem {
        width: 50%;
    }

    .container-link {
        text-align: center;
        margin: 0em;
        padding: 0em;
    }

    .link-retorno{
            font-size: 2.5em;
    }
}