/* responsividade 2561px */
@media (max-width: 2561px) {
    
    html, body{
        width: 100%;
        max-width: 100vw;
        height: 100%;
        padding: 0;
        margin: 0;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        border: 1px solid;
    }

    body{
        box-sizing: border-box;
        display: flex;
        background: #a999b547;
    }


    .toda-pag{
        margin: 0em;
        padding: 0em;
    }

    .container-titulo{
        width: -webkit-fill-available;
    }

    .titulo{
        font-size: 15.5em;
        text-align: center;
        padding-top: 0em;
        margin: 0em;
        padding-bottom: 0em;
    }

    .container-conteudo{
        width: -webkit-fill-available;
    }

    .container-subtitulo{
        width: -webkit-fill-available;
    }

    .sub-titulo{
        font-size: 10.5em;
        color: #03084fe8;
        text-align: center;
        margin: 0em;
    }

    .descricao{
        padding: 0.7em;
        font-size: 4em;
        width: -webkit-fill-available;
        padding-top: 0em;
    }

    .container-imagem{
        width: -webkit-fill-available;
    }
    .imagem-caminho-para-imagens{
        width: -webkit-fill-available;
    }
    .imagem-caminho-para-imagens-2{
        width: -webkit-fill-available;
    }
    .imagens-formatos-de-imagens{
        width: -webkit-fill-available;
    }
    .imagens-atributos-adicionais{
        width: -webkit-fill-available;
    }
    .imagens-Lazy-Loading{
        width: -webkit-fill-available;
    }


    .imagem-elemento-img{
        width: -webkit-fill-available;
    }


    .detalhe{
        color: red;
    }

    /* Links para página inicial */
    .container-link{
        text-align: center;
    }
    .link-retorno{
        font-family: 'Times New Roman', Times, serif;
        font-size: 6.5em;
    }

}

@media (max-width: 1441px) {
    
    .titulo{
        font-size: 8.5em;
    }

    .sub-titulo{
        font-size: 5.5em;
    }

    .descricao{
        padding: 0.6em;
        font-size: 2.5em;
        padding-top: 0em;
    }

    .detalhe{
        color: red;
    }

    /* Links para página inicial */
    .container-link{
        text-align: center;
    }
    .link-retorno{
        font-family: 'Times New Roman', Times, serif;
        font-size: 6.5em;
    }

}

@media (max-width: 1025px) {
    
    .titulo{
        font-size: 5.5em;
    }

    .sub-titulo{
        font-size: 4em;
    }

    .descricao{
        padding: 0.8em;
        font-size: 1.5em;
        padding-top: 0em;
    }

    .detalhe{
        color: red;
    }

    /* Links para página inicial */
    .container-link{
        text-align: center;
    }
    .link-retorno{
        font-family: 'Times New Roman', Times, serif;
        font-size: 6.5em;
    }

    .link-retorno {
        font-size: 4.5em;
    }
}


