/* responsividade 2561px */
@media (max-width: 2561px) {
    
    html, body{
        margin: 0px;
        padding: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 100%;
    }

    body{
        box-sizing: border-box;
        display: flex;
        background: #b8e3b74a;
    }


    .toda-pag{
        margin: 0em;
        padding: 0em;
    }

    .container-titulo{
        width: -webkit-fill-available;
    }

    .titulo{
        font-size: 15.5em;
        text-align: center;
        padding-top: 0em;
        margin: 0em;
        padding-bottom: 0em;
    }

    .container-conteudo{
        width: -webkit-fill-available;
    }

    .container-subtitulo{
        width: -webkit-fill-available;
    }

    .sub-titulo{
        font-size: 10.5em;
        color: #03084fe8;
        text-align: center;
        margin: 0em;
    }

    .descricao{
        padding: 0.7em;
        font-size: 4em;
        width: -webkit-fill-available;
        padding-top: 0em;
    }

    .container-imagem{
        width: 100%;
    }

    .imagem-sintaxe-links{
        width: -webkit-fill-available;
    }

    .imagem-links-relativo-absoluto{
        width: -webkit-fill-available;
    }

    .imagem-links-outros-recursos{
        width: -webkit-fill-available;
    }

    .imagem-links-internos{
        width: -webkit-fill-available;
    }

    .imagem-links-alvos{
        width: -webkit-fill-available;
    }

    .imagem-links-atributos-adicionais{
        width: -webkit-fill-available;
    }


    .exemplo-link{
        font-family: cursive;
        padding: 0.5em;
        font-size: 1em;
    }


    .detalhe{
        color: red;
    }

    /* Links para página inicial */
    .container-link{
        text-align: center;
    }
    .link-retorno{
        font-family: 'Times New Roman', Times, serif;
        font-size: 6.5em;
    }

}

@media (max-width: 1441px) {
    
    .titulo{
        font-size: 10.5em;
    }

    .sub-titulo{
        font-size: 5.5em;
    }

    .descricao{
        font-size: 2.5em;
    }

    .link-retorno{
        font-size: 5.5em;
    }

}
